.main_container {
  padding: 10px;
  width: 1300px;
  margin-top: 20px;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader,
.searcher {
  text-align: center;
}

.cant_find_match {
  width: 1000px;
  height: 300px;
  display: flex;
  border: 1px solid black;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
