.team {
  display: flex;
}

.team .teamA,
.team .teamB {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  margin-left: 50px;
  width: 350px;
}

.champion_image {
  width: 30px;
  height: 30px;
}
