.team {
  display: flex;
}

.team .teamA,
.team .teamB {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  margin-left: 30px;
  width: 600px;
}

.summoner_data {
  display: flex;
}

.champion_image {
  width: 50px;
  height: 50px;
}

.item_container .item {
  width: 25px;
  height: 25px;
}
.summoner_data .summoner_name {
  width: 180px;
  margin-left: 10px;
}

.summoner_data .summoner_kda {
  width: 80px;
  text-align: center;
}
